{% assign header_title = 'templates.accounts.my_account' | t %}
{% include 'header-image', header_title: header_title, header_image: settings.login_header_image.full %}

<div class="container my-5">
    <div class="row">
        <div class="col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3 col-xl-4 offset-xl-4">
            <h3 class="mb-4">{{ 'templates.accounts.change_password.security_settings' | t }}</h3>

            {% if account.password_expired %}
                <div class="alert alert-warning d-flex align-items-center">
                    <i class="fa fa-exclamation-triangle fa-2x mr-3"></i> {{ 'templates.accounts.change_password.password_has_expired' | t }}
                </div>
            {% endif %}

            <form name="changePasswordForm" method="post" novalidate>
                <div class="form-group labelify">
                    <label for="inputNewPassword"><i class="fa fa-lock"></i> {{ 'templates.accounts.change_password.new_password' | t }}</label>
                    <input type="password" id="inputNewPassword" class="form-control" name="password" required>
                </div>
                <div class="form-group labelify">
                    <label for="inputConfirmPassword"><i class="fa fa-lock"></i> {{ 'templates.accounts.change_password.confirm_password' | t }}</label>
                    <input type="password" id="inputConfirmPassword" class="form-control" name="password_confirmation" required>
                </div>
                <div class="text-center mb-2">
                    <button type="submit" class="btn btn-lg btn-block btn-pill btn-primary"><i class="fa fa-log-in"></i> {{ 'templates.accounts.change_password.change_password' | t }}</button>
                </div>
            </form>

        </div>
    </div>
</div>
