{% layout 'sms' %}

{% asset async: true, ext: js, defer: true, 'https://maps.googleapis.com/maps/api/js?key={google_maps_api_key}&libraries=places&callback=loadLookup' %}

<div id="payment-methods-app" v-cloak>
    <form @submit.prevent="submitAddPaymentMethodForm" :class="{ 'was-validated': form_validated }" novalidate>

        <div class="card mb-3">
            <div class="card-header">
                <h5 class="mb-0">{{ 'templates.payment_methods.add' | t }}</h5>
                <small class="d-block mt-2" style="line-height:1.4">
                    {{ 'templates.payment_methods.add_description' | t }}
                </small>
            </div>
            <div class="card-body bg-light">
                <nav class="nav nav nav-pills nav-fill mb-3">
                    <button v-if="config.gateways.credit_card" type="button" class="btn btn-link btn-sm nav-item nav-link" :class="{active: input.payment_type == 'credit_card'}" @click="input.payment_type = 'credit_card'">
                        <i class="far fa-credit-card"></i> {{ 'general.forms.credit_debit' | t }}
                    </button>
                    <button v-if="supportedPaymentType('bank_account')" type="button" class="btn btn-link btn-sm nav-item nav-link" :class="{active: input.payment_type == 'bank_account'}" @click="input.payment_type = 'bank_account'">
                        <i class="fas fa-university"></i> {{ 'general.forms.bank' | t }}
                    </button>
                    <button v-if="paypal_available" type="button" class="btn btn-link btn-sm nav-item nav-link" :class="{active: input.payment_type == 'paypal'}" @click="input.payment_type = 'paypal'">
                        <i class="fab fa-paypal"></i> {{ 'general.forms.paypal' | t }}
                    </button>
                </nav>
                <credit-card v-if="input.payment_type == 'credit_card'">
                    <div class="form-group labelify labelify-has-value">
                        <label for="inputCardholderName">{{ 'general.forms.cardholder_name' | t }}</label>
                        <input id="inputCardholderName" type="text" class="form-control" maxlength="50" placeholder="{{ 'general.forms.cardholder_name_placeholder' | t }}" name="name" v-model="payment.name" autocorrect="off" spellcheck="off" autocapitalize="off">
                    </div>
                    <div class="mb-3 supported-cardtypes">
                        <strong>{{ 'general.forms.we_support' | t }}</strong>
                        <img alt="" v-if="supportedCardType('american-express')" src="https://cdn.givecloud.co/npm/payment-icons@1.1.0/min/flat/amex.svg">
                        <img alt="" v-if="supportedCardType('diners-club')" src="https://cdn.givecloud.co/npm/payment-icons@1.1.0/min/flat/diners.svg">
                        <img alt="" v-if="supportedCardType('discover')"    src="https://cdn.givecloud.co/npm/payment-icons@1.1.0/min/flat/discover.svg">
                        <img alt="" v-if="supportedCardType('jcb')"         src="https://cdn.givecloud.co/npm/payment-icons@1.1.0/min/flat/jcb.svg">
                        <img alt="" v-if="supportedCardType('maestro')"     src="https://cdn.givecloud.co/npm/payment-icons@1.1.0/min/flat/maestro.svg">
                        <img alt="" v-if="supportedCardType('master-card')" src="https://cdn.givecloud.co/npm/payment-icons@1.1.0/min/flat/mastercard.svg">
                        <img alt="" v-if="supportedCardType('unionpay')"    src="https://cdn.givecloud.co/npm/payment-icons@1.1.0/min/flat/unionpay.svg">
                        <img alt="" v-if="supportedCardType('visa')"        src="https://cdn.givecloud.co/npm/payment-icons@1.1.0/min/flat/visa.svg">
                    </div>
                    <div class="form-group labelify payment-number-input" :class="{ 'has-errors': errors.has('pay.number') }">
                        <label for="inputPaymentNumber">{{ 'general.forms.credit_card_number' | t }}</label>
                        <payment-field field="inputPaymentNumber">
                            <the-mask id="inputPaymentNumber" type="tel" class="form-control monospace" maxlength="19" placeholder="0000 0000 0000 0000" mask="#### #### #### ####" name="number" v-model="payment.number" v-validate.initial="'required|credit_card'" x-autocompletetype="cc-number" autocompletetype="cc-number" autocorrect="off" spellcheck="off" autocapitalize="off"></the-mask>
                        </payment-field>
                        <div v-if="payment.number_type" class="payment-number-input__types">
                            <span>
                                <img alt="" v-if="payment.number_type == 'american-express'" src="https://cdn.givecloud.co/npm/payment-icons@1.1.0/min/flat/amex.svg">
                                <img alt="" v-if="payment.number_type == 'diners-club'" src="https://cdn.givecloud.co/npm/payment-icons@1.1.0/min/flat/diners.svg">
                                <img alt="" v-if="payment.number_type == 'discover'"    src="https://cdn.givecloud.co/npm/payment-icons@1.1.0/min/flat/discover.svg">
                                <img alt="" v-if="payment.number_type == 'jcb'"         src="https://cdn.givecloud.co/npm/payment-icons@1.1.0/min/flat/jcb.svg">
                                <img alt="" v-if="payment.number_type == 'maestro'"     src="https://cdn.givecloud.co/npm/payment-icons@1.1.0/min/flat/maestro.svg">
                                <img alt="" v-if="payment.number_type == 'master-card'" src="https://cdn.givecloud.co/npm/payment-icons@1.1.0/min/flat/mastercard.svg">
                                <img alt="" v-if="payment.number_type == 'unionpay'"    src="https://cdn.givecloud.co/npm/payment-icons@1.1.0/min/flat/unionpay.svg">
                                <img alt="" v-if="payment.number_type == 'visa'"        src="https://cdn.givecloud.co/npm/payment-icons@1.1.0/min/flat/visa.svg">
                            </span>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-6 labelify" :class="{ 'has-errors': errors.has('pay.exp') }">
                            <label for="inputPaymentExpiry">{{ 'general.forms.expiry' | t }}</label>
                            <payment-field field="inputPaymentExpiry">
                                <the-mask id="inputPaymentExpiry" type="tel" class="form-control monospace" maxlength="7" placeholder="{{ 'general.forms.expiry_placeholder' | t }}" mask="## / ##" @input.native="paymentExpiry($event)" name="exp" v-model="payment.exp" v-validate.initial="'required|expiration_date'" x-autocompletetype="cc-exp" autocompletetype="cc-exp" autocorrect="off" spellcheck="off" autocapitalize="off"></the-mask>
                            </payment-field>
                        </div>
                        <div class="form-group col-6 labelify" :class="{ 'has-errors': errors.has('pay.cvv') }">
                            <label for="inputPaymentCVV">{{ 'general.forms.cvv' | t }}</label>
                            <payment-field field="inputPaymentCVV">
                                <the-mask id="inputPaymentCVV" type="tel" class="form-control monospace" maxlength="4" placeholder="000" mask="####" name="cvv" v-model="payment.cvv" v-validate.initial="'required|cvv:' + payment.number_type" x-autocompletetype="cc-csc" autocompletetype="cc-csc" autocorrect="off" spellcheck="off" autocapitalize="off"></the-mask>
                            </payment-field>
                        </div>
                    </div>
                </credit-card>
                <template v-else-if="input.payment_type == 'bank_account' && gocardless_available">
                    <div class="text-center text-muted">
                        <i class="fa fa-bank fa-4x bottom-gutter m-2"></i><br>
                        {{ 'general.actions.continue_below' | t }}<br>
                        <i class="fa fa-chevron-down fa-1x"></i>
                    </div>
                </template>
                <template v-else-if="input.payment_type == 'bank_account'">
                    <div class="form-group labelify labelify-has-value">
                        <label for="inputCardholderName">{{ 'general.forms.account_holder_name' | t }}</label>
                        <input id="inputCardholderName" type="text" class="form-control" maxlength="50" placeholder="{{ 'general.forms.account_holder_name_placeholder' }}" name="name" v-model="payment.name" autocorrect="off" spellcheck="off" autocapitalize="off">
                    </div>
                    <div class="form-group labelify payment-number-input" :class="{ 'has-errors': errors.has('pay.account_holder_type') }">
                        <label for="inputPaymentAccountHolderType">{{ 'general.forms.account_holder_type' | t }}</label>
                        <select id="inputPaymentAccountHolderType" class="form-control" name="account_holder_type" v-model="payment.account_holder_type" v-validate.initial="'required'" autocomplete="off">
                            <option></option>
                            <option value="personal">{{ 'general.forms.account_holder_types.individual' | t }}</option>
                            <option value="business">{{ 'general.forms.account_holder_types.company' | t }}</option>
                        </select>
                    </div>
                    <div class="form-group labelify payment-number-input" :class="{ 'has-errors': errors.has('pay.account_type') }">
                        <label for="inputPaymentAccountType">{{ 'general.forms.account_type' | t }}</label>
                        <select id="inputPaymentAccountType" class="form-control" name="account_type" v-model="payment.account_type" v-validate.initial="'required'" autocomplete="off">
                            <option></option>
                            <option value="checking">{{ 'general.forms.checking' | t }}</option>
                            <option value="savings">{{ 'general.forms.savings' | t }}</option>
                        </select>
                    </div>
                    <template v-if="payment.currency == 'CAD'">
                        <div class="form-row">
                            <div class="form-group col-6 labelify" :class="{ 'has-errors': errors.has('pay.transit_number') }">
                                <label for="inputPaymentTransitNumber">{{ 'general.forms.transit_no' | t }}</label>
                                <the-mask id="inputPaymentTransitNumber" type="tel" class="form-control monospace" maxlength="5" placeholder="00000" mask="#####" name="transit_number" v-model="payment.transit_number" v-validate.initial="'required'" autocorrect="off" spellcheck="off" autocapitalize="off"></the-mask>
                            </div>
                            <div class="form-group col-6 labelify" :class="{ 'has-errors': errors.has('pay.institution_number') }">
                                <label for="inputPaymentInstitutionNumber">{{ 'general.forms.institution_no' | t }}</label>
                                <the-mask id="inputPaymentInstitutionNumber" type="tel" class="form-control monospace" maxlength="3" placeholder="000" mask="###" name="institution_number" v-model="payment.institution_number" v-validate.initial="'required'" autocorrect="off" spellcheck="off" autocapitalize="off"></the-mask>
                            </div>
                        </div>
                    </template>
                    <template v-else>
                        <div class="form-group labelify" :class="{ 'has-errors': errors.has('pay.routing_number') }">
                            <label for="inputPaymentRoutingNumber">{{ 'general.forms.routing_no' | t }}</label>
                            <input id="inputPaymentRoutingNumber" type="number" class="form-control monospace" placeholder="0000000" name="routing_number" v-model="payment.routing_number" v-validate.initial="'required'" autocorrect="off" spellcheck="off" autocapitalize="off">
                        </div>
                    </template>
                    <div class="form-group labelify" :class="{ 'has-errors': errors.has('pay.account_number') }">
                        <label for="inputPaymentAccountNumber">{{ 'general.forms.account_no' | t }}</label>
                        <input id="inputPaymentAccountNumber" type="number" class="form-control monospace" minlength="4" maxlength="17" placeholder="0000000" name="account_number" v-model="payment.account_number" v-validate.initial="'required'" autocorrect="off" spellcheck="off" autocapitalize="off">
                    </div>
                </template>
                <template v-else-if="input.payment_type == 'paypal'">
                    <div class="text-center text-muted">
                        <i class="fab fa-cc-paypal fa-4x bottom-gutter"></i><br>
                        {{ 'general.actions.continue_below' | t }}<br>
                        <i class="fas fa-chevron-down fa-1x"></i>
                    </div>
                </template>
            </div>
        </div>

        <div class="card mb-3" v-if="input.payment_type != 'paypal'">
            <div class="card-header">
                <h5 class="mb-0">{{ 'general.forms.billing_address' | t }}</h5>
            </div>
            <div class="card-body bg-light">
                <div class="form-group labelify" :class="{ 'has-errors': errors.has('pay.billing_address1') }">
                    <address-lookup-input
                        id="inputBillingAddress1"
                        name="billing_address1"
                        v-model="input.billing_address1"
                        label="{{ 'general.forms.address' | t | escape }}"
                        placeholder="{{ 'general.forms.address_placeholder' | t | escape }}"
                        @place-change="fillAddressFields"
                    />
                </div>
                <div class="form-group labelify">
                    <label for="inputBillingAddress2">{{ 'general.forms.address_2' | t }}</label>
                    <input id="inputBillingAddress2" type="text" class="form-control" placeholder="Apartment, suite, unit, building, etc." name="billing_address2" v-model="input.billing_address2" x-autocompletetype="address-line2" autocompletetype="address-line2" autocorrect="off" spellcheck="off" autocapitalize="off">
                </div>
                <div class="form-row">
                    <div class="form-group col-8 labelify" :class="{ 'has-errors': errors.has('billing_city') }">
                        <label for="inputBillingCity">{{ 'general.forms.city' | t }}</label>
                        <input id="inputBillingCity" type="text" class="form-control" name="billing_city" v-model="input.billing_city" x-autocompletetype="city" autocompletetype="city" autocorrect="off" spellcheck="off" autocapitalize="off">
                    </div>
                    <div class="form-group col-4 labelify" :class="{ 'has-errors': errors.has('billing_zip') }">
                        <label for="inputBillingZip">
                            <template v-if="input.billing_country_code == 'US'">{{ 'general.forms.zip' | t }}</template>
                            <template v-else>{{ 'general.forms.postal' | t }}</template>
                        </label>
                        <input id="inputBillingZip" type="text" class="form-control" name="billing_zip" v-model="input.billing_zip" x-autocompletetype="postal-code" autocompletetype="postal-code" autocorrect="off" spellcheck="off" autocapitalize="off">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-7 labelify" :class="{ 'has-errors': errors.has('billing_country_code') }">
                        <label for="inputBillingCountry">{{ 'general.forms.country' | t }}</label>
                        <select id="inputBillingCountry" class="form-control" name="billing_country_code" v-model="input.billing_country_code">
                            <option></option>
                            <option value="CA">{{ 'general.forms.countries.canada' | t }}</option>
                            <option value="MX">{{ 'general.forms.countries.mexico' | t }}</option>
                            <option value="US">{{ 'general.forms.countries.united_states' | t }}</option>
                            <option>--</option>
                            <option v-for="(name, code) in countries" :value="code">${ name }</option>
                        </select>
                    </div>
                    <div class="form-group col-5 labelify" :class="{ 'has-errors': errors.has('billing_province_code') }">
                        <label for="inputBillingProvince">
                            <template v-if="input.billing_country_code == 'US'">{{ 'general.forms.state' | t }}</template>
                            <template v-else>{{ 'general.forms.province' | t }}</template>
                        </label>
                        <select v-if="billing_subdivisions" id="inputBillingProvince" class="form-control" name="billing_province_code" v-model="input.billing_province_code">
                            <option></option>
                            <option v-for="(name, code) in billing_subdivisions" :value="code">${ name }</option>
                        </select>
                        <input v-else type="text" id="inputBillingProvince" class="form-control" name="billing_province_code" v-model="input.billing_province_code">
                    </div>
                </div>
            </div>
        </div>

        <div class="text-center mt-4 mb-3">
            <button type="submit" ref="submitBtn" class="btn btn-xl btn-pill btn-success mb-3">
                <i class="fas fa-user"></i> {{ 'templates.payment_methods.add_payment_method' | t }}
            </button>
        </div>

    </form>
</div>
