{% capture 'header' %}
    {{ post_type.name }}{% if category %}<br><small>{{ category.name }}</small>{% endif %}
{% endcapture %}

{% include 'header-image', header_title: header, header_image: post_type.feature_image.full %}

<div class="page-content post-type-list post-type-list-{{ post_type.id }}">

    {% if category %}
        {% assign categories = category.sub_categories %}
    {% else %}
        {% assign categories = post_type.categories %}
    {% endif %}

    {% if categories.size > 0 %}
        <div class="container py-4">
            <div class="row gutter-sm">
                {% for category in categories %}
                    <div class="{% if post_type.categories.size > 4 %}col-3{% else %}col{% endif %}">
                        <a href="/{{ post_type.handle }}/categories/{{ category.handle }}" class="btn btn-lg btn-outline-primary btn-block">{{ category.name }}</a>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}

    <div class="container py-5">
        {% if posts.size > 0 %}
            <div class="row">
                {% for post in posts %}
                    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                        {% include 'post-grid-item', post: post, post_action_label: 'View', match_height: 'post-type-list'~post_type.id %}
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <p class="text-muted text-lg text-center py-5">{{ 'templates.post_type.no_posts_here' | t }}</p>
        {% endif %}
    </div>

    {% if pagination.lastPage > 1 %}
        {% include 'paging-links' %}
    {% endif %}

</div>