{% if settings.page_heading_bg_effect == 'darken' %}
    {% assign page_heading_backround_overlay_css = 'linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), ' %}
{% elsif settings.page_heading_bg_effect == 'darken_more' %}
    {% assign page_heading_backround_overlay_css = 'linear-gradient( rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75) ), ' %}
{% elsif settings.page_heading_bg_effect == 'lighten' %}
    {% assign page_heading_backround_overlay_css = 'linear-gradient( rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5) ), ' %}
{% elsif settings.page_heading_bg_effect == 'lighten_more' %}
    {% assign page_heading_backround_overlay_css = 'linear-gradient( rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0.75) ), ' %}
{% endif %}

{% if settings.page_heading_bg == 'image' %}
    {% assign header_image = 'https://placeimg.com/1200/800/nature' %}
{% elsif settings.page_heading_bg == 'feature_image' %}
    {% assign header_image = post_type.feature_image.full %}
{% elsif settings.page_heading_bg == 'color' %}
    {% assign header_image = '' %}
{% endif %}

{% if category and category.sub_categories.size > 0 %}
    {% assign categories = category.sub_categories %}
{% else %}
    {% assign categories = post_type.categories %}
{% endif %}

<section class="title-bar-xl py-5" style="{% if header_image %}background: {{ page_heading_backround_overlay_css }} url('{{ header_image }}') no-repeat center center; background-size:cover;{% endif %}">
    <div class="container">
        <div class="row">
            <div class="col-12 py-5 text-center">
                <h1 class="text-white my-3">{{ post_type.name }}{% if product.description %}<br><small>{{ product.description }}</small>{% endif %}</h1>

                {% if categories.size > 0 %}
                    <div class="text-center my-2">
                        <a href="/{{ post_type.handle }}" class="{% unless category %}active{% endunless %} m-2 btn btn-outline-light">{{ 'templates.post_type.all' | t }}</a>
                        {% for cat in categories %}
                            <a href="/{{ post_type.handle }}/categories/{{ cat.handle }}" class="{% if category.id == cat.id %}active{% endif %} m-2 btn btn-outline-light">{{ cat.name }}</a>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</section>

<div class="page-content">

    <div class="container py-5">
        {% if posts.size > 0 %}
            <div class="masonry-3">
              {% for post in posts %}
                <div class="brick-container">
                  <div class="brick">
                    <div class="wow fadeInUp">
                        <div class="card mb-4" {% if match_height %}mh-data="{{ match_height }}"{% endif %}>
                            {% if post.feature_image.thumb %}
                                <img class="card-img-top" src="{{ post.feature_image.thumb }}" alt="{{ post.name }}">
                                {% else %}
                                <div class="card-img-top text-center d-flex d-inline-block justify-content-center" style="height:250px; background-color:#eee; color:#fff;"><i class="align-self-center fa fa-camera fa-4x"></i></div>
                            {% endif %}

                            <div class="card-body">

                                {% if post.published_at %}
                                    <div class="text-secondary mb-2 font-weight-bold text-sm">{{ post.published_at | date: "short_month_day_year" }}</div>
                                {% endif %}

                                {% if post.title %}
                                    <h4 class="card-title">
                                        {{ post.title }}
                                    </h4>
                                {% endif %}

                                {% if post.excerpt %}
                                    <p class="card-text text-muted">
                                        {{ post.excerpt }}
                                    </p>
                                {% endif %}

                                <div class="text-center">
                                    <a href="{{ post.url }}" class="btn btn-primary btn-block px-4 d-inline-block m-1">
                                        <i class="fa fa-fw fa-play"></i> {{ 'templates.post_type.play' | t }}
                                    </a>
                                </div>

                            </div>
                        </div>
                    </div>
                  </div>
                </div>
              {% endfor %}
            </div>
        {% else %}
            <p class="text-muted text-lg text-center py-5">{{ 'templates.post_type.no_posts_here' | t }}</p>
        {% endif %}

        {% if pagination.lastPage > 1 %}
            {% include 'paging-links' %}
        {% endif %}

    </div>
</div>