{% if settings.page_heading_bg_effect == 'darken' %}
    {% assign page_heading_backround_overlay_css = 'linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), ' %}
{% elsif settings.page_heading_bg_effect == 'darken_more' %}
    {% assign page_heading_backround_overlay_css = 'linear-gradient( rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75) ), ' %}
{% elsif settings.page_heading_bg_effect == 'lighten' %}
    {% assign page_heading_backround_overlay_css = 'linear-gradient( rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5) ), ' %}
{% elsif settings.page_heading_bg_effect == 'lighten_more' %}
    {% assign page_heading_backround_overlay_css = 'linear-gradient( rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0.75) ), ' %}
{% endif %}

{% if settings.page_heading_bg == 'image' %}
    {% assign header_image = 'https://placeimg.com/1200/800/nature' %}
{% elsif settings.page_heading_bg == 'feature_image' %}
    {% assign header_image = post_type.feature_image.full %}
{% elsif settings.page_heading_bg == 'color' %}
    {% assign header_image = '' %}
{% endif %}

<section class="title-bar-xl py-5" style="{% if header_image %}background: {{ page_heading_backround_overlay_css }} url('{{ header_image }}') no-repeat center center; background-size:cover;{% endif %}">
    <div class="container">
        <div class="row">
            <div class="col-12 py-5 text-center">
                <h1 class="text-white my-3">
                    {{ post_type.name }}
                    {% if category %} &ndash; {{ category.name }}{% endif %}
                    {% if product.description %}<br><small>{{ product.description }}</small>{% endif %}
                </h1>

                <div class="text-center my-2">
                    <a href="/{{ post_type.handle }}" class="{% unless category %}active{% endunless %} m-2 btn btn-outline-light">{{ 'templates.post_type.all' | t }}</a>

                    {% if category %}
                        {% if category.sub_categories.size > 0 %}
                            {% for cat in category.sub_categories %}
                                <a href="/{{ post_type.handle }}/categories/{{ cat.handle }}" class="{% if category.id == cat.id %}active{% endif %} m-2 btn btn-outline-light">{{ cat.name }}</a>
                            {% endfor %}
                        {% endif %}

                        {% if category.parent_category %}
                            <a href="/{{ post_type.handle }}/categories/{{ category.parent_category.handle }}" class="{% if category.id == category.parent_category.id %}active{% endif %} m-2 btn btn-outline-light">{{ 'templates.post_type.up_to_parent_category' | t: category_name: category.parent_category.name }}"</a>
                        {% endif %}
                    {% else %}
                        {% for cat in post_type.categories %}
                            <a href="/{{ post_type.handle }}/categories/{{ cat.handle }}" class="{% if category.id == cat.id %}active{% endif %} m-2 btn btn-outline-light">{{ cat.name }}</a>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</section>

<div class="page-content">

    <div class="container py-5">
        {% if posts.size > 0 %}
            <div class="masonry-3">
              {% for post in posts %}
                <div class="brick-container">
                  <div class="brick">
                    <div class="wow fadeInUp">
                        {% include 'post-grid-item', post: post %}
                    </div>
                  </div>
                </div>
              {% endfor %}
            </div>
        {% else %}
            <p class="text-muted text-lg text-center py-5">{{ 'templates.post_type.no_posts_here' | t }}</p>
        {% endif %}
    </div>

    {% if pagination.lastPage > 1 %}
        {% include 'paging-links' %}
    {% endif %}

</div>
