<div class="modal fade" id="dcc-information-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body text-center">
                <button type="button" class="close" data-dismiss="modal" aria-label="{{ 'general.actions.close' | t }}">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h2>{{ 'general.forms.cover_costs_dialog.help_cover_costs_fees' | t }}</h2>
                <p>{{ 'general.forms.cover_costs_dialog.one_of_the_most_cost_effective_ways' | t }}</p>
                <p>{{ 'general.forms.cover_costs_dialog.help_make_the_most_of_your_donation' | t }}</p>
                <ul class="list-unstyled">
                    <li><i class="fa fa-check mr-2"></i> {{ 'general.forms.cover_costs_dialog.processing_bank_fees' | t }}</li>
                    <li><i class="fa fa-check mr-2"></i> {{ 'general.forms.cover_costs_dialog.it_security_costs' | t }}</li>
                    <li><i class="fa fa-check mr-2"></i> {{ 'general.forms.cover_costs_dialog.software_costs' | t }}</li>
                </ul>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
