<div class="goal" data-goal-currency="{{ goal_currency.code }}">
  <div class="progress {% if goal_size %}progress-{{ goal_size }}{% endif %} {% if goal_style %}progress-{{ goal_style }}{% endif %} {% if goal_style == 'outline' %}border-{{ goal_color }}{% endif %}">
    <div class="progress-bar bg-{% if goal_color %}{{ goal_color }}{% else %}primary{% endif %}" role="progressbar" style="width: {{ goal_percent | times: 100.0 }}%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
  </div>
  <div class="row no-gutters">
    <div class="col goal-amount text-left"><small>{{ 'snippets.goal.raised' | t }}</small><br>{{ goal_progress | money: settings.goal_progress_currency_format, goal_currency }}</div>
    <div class="col goal-count text-right"><small>{{ 'snippets.goal.goal' | t }}</small><br>{{ goal_amount | money: settings.goal_progress_currency_format, goal_currency }}</div>
  </div>
</div>
