{% if settings.page_heading_bg_effect == 'darken' %}
  {% assign page_heading_backround_overlay_css = 'linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), ' %}
{% elsif settings.page_heading_bg_effect == 'darken_more' %}
  {% assign page_heading_backround_overlay_css = 'linear-gradient( rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75) ), ' %}
{% elsif settings.page_heading_bg_effect == 'lighten' %}
  {% assign page_heading_backround_overlay_css = 'linear-gradient( rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5) ), ' %}
{% elsif settings.page_heading_bg_effect == 'lighten_more' %}
  {% assign page_heading_backround_overlay_css = 'linear-gradient( rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0.75) ), ' %}
{% endif %}

{% unless header_image %}
  {% if settings.page_heading_bg == 'image' %}
    {% assign header_image = 'https://placeimg.com/1200/800/nature' %}
  {% elsif settings.page_heading_bg == 'feature_image' %}
    {% assign header_image = settings.page_heading_bg_default %}
  {% elsif settings.page_heading_bg == 'color' %}
    {% assign header_image = '' %}
  {% endif %}
{% endunless %}

<section class="title-bar-lg" style="{% if header_image %}background: {{ setting.page_heading_bg_color }} {{ page_heading_backround_overlay_css }} url('{{ header_image }}') no-repeat center center;{% endif %}">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1 class="{% if settings.page_heading_align == 'center' %}text-center{% else %}text-left{% endif %}">{{ header_title }}{% if header_subtitle %}<br><small>{{ header_subtitle }}</small>{% endif %}</h1>
      </div>
    </div>
  </div>
</section>
