<div class="mb-4">
  <form>
    <div class="input-group">
      <input type="search" class="form-control form-control-lg" placeholder="{{ 'snippets.sponsorships_filter_side.search_causes' | t }}">
      <div class="input-group-btn">
        <button class="btn btn-dark"><i class="fa fa-search"></i></button>
      </div>
    </div>
  </form>
</div>

<div class="filter-list mb-4">
  <h4>{{ 'snippets.sponsorships_filter_side.categories' | t }}</h4>
  <ul class="nav flex-column">
    <li class="nav-item">
      <a class="nav-link active" href="#">Causes <span class="badge badge-pill badge-dark">2</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Villages <span class="badge badge-pill badge-dark">12</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">New Initiatives <span class="badge badge-pill badge-dark">5</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Latest News <span class="badge badge-pill badge-dark">4</span></a>
    </li>
  </ul>
</div>

<div class="filter-list mb-4">
  <h4>{{ 'snippets.sponsorships_filter_side.sort_by' | t }}</h4>
  <ul class="nav flex-column">
    <li class="nav-item">
      <a class="nav-link active" href="#"><i class="fa fa-check-square-o"></i> {{ 'snippets.sponsorships_filter_side.goal_highest_to_lowest' | t }}</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#"><i class="fa fa-square-o"></i> {{ 'snippets.sponsorships_filter_side.goal_lowest_to_highest' | t }}</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#"><i class="fa fa-square-o"></i> {{ 'snippets.sponsorships_filter_side.funding_needed_most_to_least' | t }}</a>
    </li>
  </ul>
</div>

<div class="filter-list mb-4">
  <h4>{{ 'snippets.sponsorships_filter_side.per_page' | t }}</h4>
  <ul class="nav flex-column">
    <li class="nav-item">
      <a class="nav-link active" href="#"><i class="fa fa-check-square-o"></i> 6</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#"><i class="fa fa-square-o"></i> 18</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#"><i class="fa fa-square-o"></i> 32</a>
    </li>
  </ul>
</div>