<div id="{{ id }}">
    {% if fundraising_pages.size > 0 %}
        <div class="container-fluid px-0">
            <div class="masonry-3">

                {% for fundraising_page in fundraising_pages %}
                    <div class="brick-container">
                        <div class="brick">
                            <div class="card mb-4 {% if settings.animations %}wow fadeInUp{% endif %}">
                                {% if fundraising_page.photo %}
                                    <a href="{{ fundraising_page.permalink }}"><img class="card-img-top" src="{{ fundraising_page.photo.thumb }}" alt="{{ fundraising_page.title }}"></a>
                                {% else %}
                                    <a href="{{ fundraising_page.permalink }}"><div class="card-img-top text-center d-flex d-inline-block justify-content-center" style="height:250px; background-color:#eee; color:#fff;"><i class="align-self-center fa fa-camera fa-4x"></i></div></a>
                                {% endif %}

                                <div class="card-body">
                                    {% if fundraising_page.published_at %}
                                        <div class="text-secondary mb-2 font-weight-bold text-sm">{{ post.published_at | date: "short_month_day_year" }}</div>
                                    {% endif %}

                                    <h4 class="card-title"><a href="{{ fundraising_page.permalink }}">{{ fundraising_page.title }}</a></h4>

                                    {% include 'goal', goal_currency: fundraising_page.currency, goal_amount: fundraising_page.goal_amount, goal_progress: fundraising_page.amount_raised, goal_percent: fundraising_page.progress_percent %}

                                    <hr>

                                    <i class="fa fa-user-circle fa-fw"></i> {{ fundraising_page.author.name }}
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}

            </div>
        </div>
    {% endif %}
</div>
